.width{
  background-color: red;
  height: 250px;
  width: 250px ;
  font-size: 50px;
  text-align: center;
  margin: auto;
  left: 50px;
  }
  
.height{
  background-color: darkgreen;
  height: 250px;
  width: 250px;
  font-size: 50px;
  text-align: center;
  margin: auto;
  left: 50px;
  }
 

  